/* default things,always preferred */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-size:cover;
    background-position: center;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding:16px 48px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar__menu_container{
    display:flex;
    gap:20px;
}

.navbar__menu_container .user_icon{
    height:25px;
    width:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

/* When the screen size is from 0-600 i.e., smaller/mobile screen */
 @media only screen and (max-width: 600px){
    .navbar__menu_container .user_icon{
        display:flex;
    }
    .link{
        display:none;
    }
    .hero__section{
        min-height: 80vh;

 }
}
 
h1{
    color:white;
}
/* .hero__section_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:200px;
}

.head_logo{
    display:flex;
    justify-content: center;
    align-items: center;
} */
