/* default things,always preferred */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-size:cover;
    background-position: center;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding:16px 48px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar__menu_container{
    display:flex;
    gap:20px;
}

.navbar__menu_container .user_icon{
    height:25px;
    width:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section_title{
    color:white;
}

.hero__section_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 250px;
    /* height:calc(60vh - 65px); */
}

.hero__section_logo{
    width:260px;
    height: 55px; 
    /* height: auto; */
}

.hero__section_title{
    text-align:center;
    font-size: 32px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    width:46%;
    border-radius: 5px;

}

.input_container_location,
.input_container_search{
    padding: 5px;
    border:none;
    outline:none;
}

select{
    width:35%;
    border:none;
    color:grey;
}

.input_container_search{
    width:65%;
}

#location{
    color:#FF7B8B;
}
#search{
    color:2px lightslategray;
}
.hero__section_container_divider{
    width:0;
    height:1rem;
    border: 0.05px solid #e0e0e0;
}

/* When the screen size is from 0-600 i.e., smaller/mobile screen */
@media only screen and (max-width: 600px){
    .navbar__menu_container .user_icon{
        display:flex;
    }

    .link{
        display:none;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width:100%;
        height:calc(80vh - 60px); 
    }

    .input_container_location,
    .input_container_search{
    padding:18px;
    border-radius: 10px;
    width:98%;
    }
    
    .hero__section_title{
        font-size: 18px;
        width:95%;
    }
    
}

/* Out of media queries */

.conatainer__we__offer{
    margin: 3rem auto;
    width:90%;
    gap:0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.we__offer_card{
    border-radius: 20px;
    overflow: hidden;   /* The image will not go out of the card*/
    border:1px solid #e0e0e0;
    transition: all 0.2s ease;
    margin:5px;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width:100%;
    height:170px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content{
    padding:10px;
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 400;
}

.we__offer_content p{
    font-size: 15px;
    font-weight: 200;
}